.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(203, 255, 254);
}
.r-f{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    width: 350px;
    height: 500px;
    align-items: center;
}
.register-text{
    font-size: 20px;
    color: teal;
    margin-bottom: 10px;
}
.input{
    margin: 10px;
    margin-top: 30px;

    padding: 15px;
    width: 250px;
    border: #a7ebff;
    color: teal;
    border-bottom: 1px solid rgb(106, 187, 182) ;
}
.register-button{
    background-color: teal;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100px;

}
.l-register{
    padding-top: 10px;
    font-size: 15px;
    color: #c3c3c3;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    color: red;
    margin-top: 10px;
}