*{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}




.app-container{
    width: 75%;
}
.App{
    display: flex;
    justify-content: center;
    // background-color: #452020;
}